{% extends "bookmarks/layout.html" %}
{% load static %}

{% block body %}
<div class="login-register" style="background-image: url('{% static "bookmarks/images/login-background.jpg" %}');">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card p-4 shadow" style="width: 23rem;">
            <div class="card-body text-center">
                <div class="d-flex flex-column justify-content-center align-items-center mb-3">
                    <i class="bi bi-boxes" style="color: #212529"></i>
                    <h2 class="mb-3">GrainCircuit</h2>
                </div>

                <!-- Flash messages -->
                {% include "bookmarks/flash_messages.html" %}

                <!-- Commenting out the username, password, and login options -->
                <form action="{% url 'login' %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username" autocomplete="off" required>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" name="password" placeholder="Password" autocomplete="off" required>
                    </div>
                    <div class="mb-3 text-center">
                        <input type="submit" class="btn btn-dark w-100" value="Login">
                    </div>
                </form>

                <!-- Form for guest access only -->
                <div class="mt-3">
                    <button onclick="location.href='{% url 'guest_login' %}'" class="btn btn-warning w-100">Guest Access</button>
                </div>

                {% comment%}
                <div class="mt-3">
                    Don't have an account?<br> <a href="{% url 'register' %}">Register here.</a>
                </div>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
