{% extends "bookmarks/layout.html" %}

{% block body %}

<div class="container-fluid settings">
    <!-- Settings Header -->
    <div class="d-flex align-items-center mt-4">
        <h2 class="flex-grow-1">Settings</h2>
    </div>
    <hr class="sidebar-first-line mb-3">

    <!-- Flash messages -->
    {% include "bookmarks/flash_messages.html" %}

    <!-- Email Update Section -->
    <div class="text-center mt-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
            <i class="bi bi-envelope-at-fill me-2" style="font-size: 1.5rem;"></i>
            <h4 class="mb-0">Change Email</h4>
        </div>
        <form action="{% url 'change_email' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" autocomplete="off" required placeholder="Enter new email" style="max-width: 200px; margin: 0 auto;">
            </div>
            <button type="submit" class="btn btn-primary mt-2" style="width: 200px;">Update Email</button>
        </form>
    </div>

    <hr class="my-5">

    <!-- Password Update Section -->
    <div class="text-center">
        <div class="d-flex align-items-center justify-content-center mb-4">
            <i class="bi bi-file-earmark-lock2-fill me-2" style="font-size: 1.5rem;"></i>
            <h4 class="mb-0">Change Password</h4>
        </div>
        <form action="{% url 'change_password' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="password" class="form-control" id="old_password" required name="old_password" placeholder="Enter current password" style="max-width: 200px; margin: 0 auto;">
            </div>
            <div class="form-group mt-2">
                <input type="password" class="form-control" id="new_password1" required name="new_password1" placeholder="Enter new password" style="max-width: 200px; margin: 0 auto;">
            </div>
            <div class="form-group mt-2">
                <input type="password" class="form-control" id="new_password2" required name="new_password2" placeholder="Confirm new password" style="max-width: 200px; margin: 0 auto;">
            </div>
            <button type="submit" class="btn btn-primary mt-2" style="width: 200px;">Update Password</button>
        </form>
    </div>

    <hr class="my-5">

    <!-- Account Deletion Section -->
    <div class="text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
            <i class="bi bi-person-fill-dash me-2" style="font-size: 1.5rem;"></i>
            <h4 class="mb-0">Delete Account</h4>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal" style="width: 200px;">
            Delete Account
        </button>
        {% include "bookmarks/modals/delete_account.html" %}
    </div>
</div>

{% endblock %}