<!-- Rename Modal -->
<div class="modal fade" id="renameCategoryModal{{ category.id }}" tabindex="-1" aria-labelledby="renameCategoryModalLabel{{ category.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% url 'rename_category' category.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Rename Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                {% endif %}

                    <input type="text" class="form-control" name="new_category_name" value="{{ category.category }}" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.href='{% url 'categories' %}'">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


